@charset "UTF-8";
/*foundation*/
/******************************************************************************
 Default CSS Reset
******************************************************************************/
html, body {
  position: relative; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  table-layout: fixed; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500; }

img {
  vertical-align: bottom;
  /* chormeで画像のぼやけ回避 */
  -webkit-backface-visibility: hidden; }

/* iOSでのデフォルトスタイルをリセット */
input, button, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none; }

textarea {
  resize: vertical; }

input[type='checkbox'], input[type='radio'] {
  display: none; }

input[type='submit'], input[type='button'], label, button, select {
  cursor: pointer; }

select::-ms-expand {
  display: none; }

/******************************************************************************
 General Setting
******************************************************************************/
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Noto Sans JP","游ゴシック",YuGothic,"Yu Gothic","游ゴシック体","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Sans", "メイリオ",Meiryo,sans-serif;
  color: #333333;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.7;
  font-weight: 500; }

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.5; } }
a {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP","游ゴシック",YuGothic,"Yu Gothic","游ゴシック体","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Sans", "メイリオ",Meiryo,sans-serif;
  color: #333333;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

a:focus, *:focus {
  outline: none; }

a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

/*component*/
/******************************************************************************
 Font
******************************************************************************/
.c-sawarabi {
  font-family: 'Sawarabi Mincho', "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif; }

.c-notoSerif {
  font-family: 'Noto Serif JP', "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif; }

.c-tCenter {
  text-align: center; }

.c-tLeft {
  text-align: left; }

.c-tRight {
  text-align: right; }

.c-tWeight300 {
  font-weight: 300; }

.c-tWeight400 {
  font-weight: 400; }

.c-tWeight500 {
  font-weight: 500; }

.c-tWeight600 {
  font-weight: 600; }

.c-tWeight700 {
  font-weight: 700; }

.c-tSmall {
  font-size: 0.875em; }

.lineHeightM {
  line-height: 3em; }

.c-fontsize10 {
  font-size: 0.625em;
  /*10*/ }

.c-fontsize11 {
  font-size: 0.68em;
  /*11*/ }

.c-fontsize12 {
  font-size: 0.75em;
  /*12*/ }

.c-fontsize14 {
  font-size: 0.87em;
  /*14*/ }

.c-fontSize15 {
  font-size: 0.938em;
  /*15*/ }

.c-fontSize18 {
  font-size: 1.12em;
  /*18*/ }

.c-fontSize19 {
  font-size: 1.188em;
  /*19*/ }

.c-fontSize20 {
  font-size: 1.25em;
  /*20*/ }

.c-fontSize23 {
  font-size: 1.438em;
  /*23*/ }

.c-fontSize24 {
  font-size: 1.5em;
  /*24*/ }

.c-fontSize26 {
  font-size: 1.625em;
  /*26*/ }

.c-fontSize32 {
  font-size: 2em;
  /*32*/ }

.c-fontSize35 {
  font-size: 2.187em;
  /*35*/ }

.c-fontSize40 {
  font-size: 2.5em;
  /*40*/ }

@media screen and (max-width: 1024px) {
  .c-fontSize26M {
    font-size: 2.54vw;
    /*26*/ } }
@media screen and (max-width: 768px) {
  .c-fontsize12S {
    font-size: 0.857em;
    /*12*/ }

  .c-fontsize13S {
    font-size: 0.929em;
    /*13*/ }

  .c-fontsize14S {
    font-size: 1em;
    /*14*/ }

  .c-fontsize16S {
    font-size: 1.143em;
    /*16*/ }

  .c-fontsize20S {
    font-size: 1.429em;
    /*20*/ }

  .c-fontsize24S {
    font-size: 1.714em;
    /*24*/ } }
@media screen and (max-width: 374px) {
  .c-fontsize12S {
    font-size: 3.21vw;
    /*12*/ }

  .c-fontsize13S {
    font-size: 3.48vw;
    /*13*/ }

  .c-fontsize14S {
    font-size: 3.74vw;
    /*14*/ }

  .c-fontsize16S {
    font-size: 4.28vw;
    /*16*/ } }
/******************************************************************************
 Fontcolor
******************************************************************************/
.c-fontColorTitle {
  color: #000; }

.c-fontColorPink {
  color: #e94955; }

.c-fontColorWhite {
  color: #fff; }

/******************************************************************************
 Margin
******************************************************************************/
.c-mCenter {
  margin: 0 auto; }

.c-space10 {
  margin-bottom: 0.62em;
  /*10*/ }

.c-space20 {
  margin-bottom: 1.25em;
  /*20*/ }

.c-space25 {
  margin-bottom: 1.563em;
  /*25*/ }

.c-space30 {
  margin-bottom: 1.875em;
  /*30*/ }

.c-space120 {
  margin-bottom: 7.5em;
  /*120*/ }

.c-spaceTop120 {
  margin-top: 7.5em;
  /*120*/ }

@media screen and (max-width: 768px) {
  .c-mCenterS {
    margin: 0 auto; } }
/******************************************************************************
 Padding
******************************************************************************/
.c-TinnerSpace10 {
  padding-top: 0.62em;
  /*10*/ }

.c-TinnerSpace15 {
  padding-top: 0.937em;
  /*15*/ }

.c-TinnerSpace20 {
  padding-top: 1.25em;
  /*20*/ }

.c-TinnerSpace25 {
  padding-top: 1.563em;
  /*25*/ }

.c-TinnerSpace30 {
  padding-top: 1.875em;
  /*30*/ }

.c-TinnerSpace45 {
  padding-top: 2.813em;
  /*45*/ }

.c-TinnerSpace50 {
  padding-top: 3.125em;
  /*50*/ }

.c-TinnerSpace90 {
  padding-top: 5.625em;
  /*90*/ }

.c-TinnerSpace120 {
  padding-top: 7.5em;
  /*120*/ }

.c-UinnerSpace5 {
  padding-bottom: 0.313em;
  /*5*/ }

.c-UinnerSpace10 {
  padding-bottom: 0.62em;
  /*10*/ }

.c-UinnerSpace15 {
  padding-bottom: 0.937em;
  /*15*/ }

.c-UinnerSpace20 {
  padding-bottom: 1.25em;
  /*20*/ }

.c-UinnerSpace25 {
  padding-bottom: 1.563em;
  /*25*/ }

.c-UinnerSpace30 {
  padding-bottom: 1.875em;
  /*30*/ }

.c-UinnerSpace45 {
  padding-bottom: 2.813em;
  /*45*/ }

.c-UinnerSpace50 {
  padding-bottom: 3.125em;
  /*50*/ }

.c-UinnerSpace60 {
  padding-bottom: 3.75em;
  /*60*/ }

.c-UinnerSpace120 {
  padding-bottom: 7.5em;
  /*120*/ }

.c-linnerSpace5 {
  padding-left: 5%;
  /*5*/ }

.c-linnerSpace32 {
  padding-left: 32%;
  /*32*/ }

.c-linnerSpace20P {
  padding-left: 1.3em;
  /*20*/ }

@media screen and (max-width: 1024px) {
  .c-TinnerSpace50M {
    padding-top: 3.125em;
    /*50*/ }

  .c-UinnerSpace50M {
    padding-bottom: 3.125em;
    /*50*/ } }
@media screen and (max-width: 768px) {
  .c-linnerSpace0S {
    padding-left: 0%;
    /*0*/ }

  .c-TinnerSpace10S {
    padding-top: 0.714em;
    /*10*/ }

  .c-TinnerSpace15S {
    padding-top: 1.071em;
    /*15*/ }

  .c-TinnerSpace20S {
    padding-top: 1.429em;
    /*20*/ }

  .c-TinnerSpace25S {
    padding-top: 1.786em;
    /*25*/ }

  .c-TinnerSpace45S {
    padding-top: 3.214em;
    /*45*/ }

  .c-TinnerSpace60S {
    padding-top: 4.286em;
    /*60*/ }

  .c-UinnerSpace10S {
    padding-bottom: 0.714em;
    /*10*/ }

  .c-UinnerSpace15S {
    padding-bottom: 1.071em;
    /*15*/ }

  .c-pUinnerSpace20S {
    padding-bottom: 1.429em;
    /*20*/ }

  .c-UinnerSpace20S {
    padding-bottom: 1.429em;
    /*20*/ }

  .c-UinnerSpace25S {
    padding-bottom: 1.786em;
    /*25*/ }

  .c-UinnerSpace45S {
    padding-bottom: 3.214em;
    /*45*/ }

  .c-UinnerSpace60S {
    padding-bottom: 4.286em;
    /*60*/ }

  .c-linnerSpace5S {
    padding-left: 5%;
    /*5*/ } }
/******************************************************************************
 Bg
******************************************************************************/
.c-bgLightPurple {
  background-color: #f7f3f4; }

.c-bgPurple {
  background-color: #f4ebee; }

.c-bgWhite {
  background-color: #ffffff; }

.c-bgimg {
  background-image: url("../images/bg_mate.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.c-bgimgMi {
  background-image: url("../images/bg_mateMi.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

@media screen and (max-width: 1024px) {
  .c-bgWhiteM {
    background-color: #ffffff; } }
/******************************************************************************
 border
******************************************************************************/
.c-borderBgrey {
  border-bottom: 1px dashed #acaaab; }

.c-borderBgreySolid {
  border-bottom: 1px solid #d3d3d3; }

/******************************************************************************
 decoration
******************************************************************************/
.c-circleItem::before {
  content: "";
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0.4em;
  left: 0;
  border-radius: 50%; }

@media screen and (max-width: 767px) {
  .c-circleItem::before {
    width: 10px;
    height: 10px;
    top: 0.4em;
    left: 0; } }
/******************************************************************************
 shadow
******************************************************************************/
.c-shadow {
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02); }

@media screen and (max-width: 1024px) {
  .c-shadowM {
    box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02); } }
@media screen and (max-width: 768px) {
  .c-shadowS {
    box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 0px 0px 0px 1px rgba(10, 10, 10, 0.02); }

  .c-shadowNoneS {
    box-shadow: none; } }
/******************************************************************************
 position
******************************************************************************/
.c-positionR {
  position: relative; }

/******************************************************************************
 Flex
******************************************************************************/
.c-flex {
  display: -webkit-flex;
  display: flex; }

.c-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap; }

.c-reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse; }

.c-column {
  flex-direction: column;
  -webkit-box-orient: vertical; }

.c-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap; }

.c-alignStart {
  align-items: flex-start; }

.c-jsCenter {
  justify-content: center;
  -webkit-justify-content: center; }

.c-jsBetween {
  justify-content: space-between;
  -webkit-justify-content: space-between; }

.c-jsAround {
  justify-content: space-around;
  -webkit-justify-content: space-around; }

.c-jsStart {
  justify-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start; }

.c-jsEnd {
  justify-content: flex-end;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-end; }

.c-alStretch {
  align-items: stretch;
  -webkit-align-items: stretch; }

.c-alCenter {
  align-items: center;
  -webkit-align-items: center; }

.c-alStart {
  align-items: flex-start;
  -webkit-align-items: flex-start; }

.c-alEnd {
  align-items: flex-end;
  -webkit-align-items: flex-end; }

.c-flexWrap.half > * {
  width: 50%;
  box-sizing: border-box; }

@media screen and (max-width: 1024px) {
  .c-flexM {
    display: -webkit-flex;
    display: flex; }

  .c-jsBetweenM {
    justify-content: space-between;
    -webkit-justify-content: space-between; }

  .c-noflexM {
    display: block; } }
@media screen and (max-width: 768px) {
  .c-noflexS {
    display: block; } }
/*** none ***/
.c-pcNone {
  display: none; }

.c-spNone {
  display: block; }

@media screen and (max-width: 768px) {
  .c-pcNone {
    display: block; }

  .c-spNone {
    display: none; } }
/*layout*/
/******************************************************************************
 Js
******************************************************************************/
.l-JSnoscroll {
  overflow: hidden; }

.l-JSbox {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; }

.l-JSbox:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  transition: all 0.5s;
  z-index: 5; }

.l-JSisPlay:before {
  transform: translate3d(100%, 0, 0); }

/******************************************************************************
 Layout
******************************************************************************/
.l-wrap {
  width: 100%; }

.l-wrap img {
  width: 100%;
  height: auto; }

.l-inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%; }

.l-innerM {
  margin: 0 auto;
  max-width: 1080px;
  width: 95%; }

.l-innerMini {
  width: 83%; }

.l-innerMiniR {
  margin-left: 17%;
  width: 83%; }

.l-contentsw_90 {
  width: 90%; }

.l-contentsw_68 {
  width: 68%; }

.l-contentswR_68 {
  margin-left: 32%;
  width: 68%; }

.l-contentsw_50 {
  width: 50%; }

.l-contentsw_45 {
  width: 45%; }

.l-contentsw_25 {
  width: 25%; }

@media screen and (max-width: 1024px) {
  .l-contentsw_90M {
    margin: 0 auto;
    width: 90%; } }
@media screen and (max-width: 768px) {
  .l-contentsw_100S {
    width: 100%; }

  .l-innerMini {
    width: 100%; }

  .l-innerMiniR {
    margin-left: 0%;
    width: 100%; }

  .l-contentsw_68 {
    width: 100%; }

  .l-contentswR_68 {
    margin-left: 0%;
    width: 100%; } }
/*==========================================
 header
===========================================*/
.l-header {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  z-index: 3; }

@media screen and (max-width: 1024px) {
  .l-header {
    height: 50px; } }
.l-header_inner {
  margin: 0 auto;
  width: 95%;
  height: 100%; }

.l-header_inner_logo {
  width: 270px; }

@media screen and (max-width: 1024px) {
  .l-header_inner_logo {
    width: 200px; } }
.l-nav {
  width: 55.22%; }

@media screen and (max-width: 1300px) {
  .l-nav {
    width: 70.22%; } }
.l-nav_List {
  width: 66.22%;
  padding-top: 37px; }

.l-nav_List_li a {
  position: relative;
  display: block; }

.l-nav_List_li a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  position: absolute;
  bottom: -25px;
  left: 0;
  opacity: 0;
  transition: all .3s; }

.l-nav_List_li a:hover::after {
  opacity: 1; }

.l-contactAria {
  width: 220px; }

.l-contactAria_contact {
  box-sizing: border-box;
  padding: 10px 0px 10px 30px;
  border-radius: 0 0 10px 10px;
  color: #FFF;
  display: block;
  width: 100%;
  position: relative;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%); }

.l-contactAria_contact:hover {
  background: #f6a17b;
  background: linear-gradient(0deg, #f6a17b 0%, #f3708f 100%); }

.l-contactAria_contact::before {
  content: "";
  background-image: url("../images/email.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  width: 23px;
  height: 18px;
  position: absolute;
  left: 30px;
  top: 17px; }

.l-contactAria_tel {
  padding-bottom: 10px; }

.l-hamburger {
  display: none; }

@media screen and (max-width: 1024px) {
  .l-nav {
    display: none;
    width: 100%;
    height: 100%;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    max-width: none; }

  .l-nav_inner {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

  .l-nav_List {
    width: 100%;
    padding-top: 0px; }

  .l-nav_List_li a {
    padding-bottom: 2em;
    color: #FFF; }

  .l-nav_List_li a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: none;
    position: static;
    transition: none; }

  .l-contactAria {
    margin: 0 auto;
    width: 40%; }

  .l-contactAria_contact {
    margin-bottom: 1em;
    padding: 0.8em 0 0.8em 10%;
    border-radius: 50px;
    color: #FFF;
    background: none;
    border: 1px solid #FFF; }

  .l-contactAria_contact::before {
    width: 16px;
    height: 12px;
    left: 18%;
    top: 1.3em; }

  .l-contactAria_contact:hover {
    background: none; }

  .l-contactAria_tel {
    padding: 0.4em 0;
    border-radius: 50px;
    border: 1px solid #FFF; }

  .l-contactAria_tel a {
    color: #FFF; }

  .l-hamburger {
    display: block;
    position: fixed;
    top: 15px;
    right: 2.5%;
    z-index: 5; }

  .l-hamburger__trigger {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer; }

  .l-hamburger__trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f78f9f;
    border-radius: 4px; }

  .l-hamburger__trigger, .l-hamburger__trigger span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box; }

  .l-hamburger__trigger span:nth-of-type(1) {
    top: 0; }

  .l-hamburger__trigger span:nth-of-type(2) {
    top: 9.3px; }

  .l-hamburger__trigger span:nth-of-type(3) {
    bottom: 0; } }
@media screen and (max-width: 768px) {
  .l-contactAria {
    margin: 0 auto;
    width: 60%; } }
/*=============================
#hamburger
=============================*/
#l-btn.active span:nth-of-type(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
  transform: translateY(11px) rotate(-45deg); }

#l-btn.active span:nth-of-type(2) {
  opacity: 0; }

#l-btn.active span:nth-of-type(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg); }

.line {
  background: linear-gradient(transparent 60%, #eee74b 0%); }

/*==========================================
 main
===========================================*/
.l-main {
  padding-top: 100px; }

@media screen and (max-width: 1024px) {
  .l-main {
    padding-top: 50px; } }
/*==========================================
 button
===========================================*/
.l-bt a {
  padding: 15px 30px;
  width: 240px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  text-align: center;
  color: #FFF;
  border-radius: 50px;
  display: block;
  position: relative; }

.l-bt a:hover {
  background: #f6a17b;
  background: linear-gradient(0deg, #f6a17b 0%, #f3708f 100%); }

.l-bt a::after {
  content: "";
  background-image: url("../images/bt_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 21px;
  height: 7px;
  position: absolute;
  top: 40%;
  right: 20%;
  transition: all .3s; }

.l-bt a:hover::after {
  right: 15%; }

/*==========================================
 mi
===========================================*/
.l-mi {
  position: relative; }

.l-mi::after {
  content: "";
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  position: absolute;
  width: 120px;
  height: 3px;
  bottom: 0;
  left: 0; }

.l-miCenter {
  text-align: center;
  position: relative; }

.l-miCenter::after {
  content: "";
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  position: absolute;
  width: 120px;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

/*==========================================
 map
===========================================*/
.l-map {
  width: 100%;
  line-height: 0; }

.l-map iframe {
  width: 100%;
  height: 25.313em;
  line-height: 0; }

@media screen and (max-width: 768px) {
  .l-map iframe {
    height: 17.857em; } }
/*==========================================
 footer
===========================================*/
.l-footerLogo {
  width: 44%; }

.l-footerList {
  width: 56%; }

@media screen and (max-width: 1024px) {
  .l-footerList {
    width: 80%; } }
.l-footerList_ul {
  width: 50%; }

.l-footerList_ul_li {
  padding-bottom: 10px;
  padding-left: 18%;
  position: relative; }

.l-footerList_ul_li:before {
  content: "";
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  width: 16px;
  height: 4px;
  border-radius: 50px;
  position: absolute;
  left: 0%;
  top: 30%; }

.l-copy {
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  background: #f4ebee; }

@media screen and (max-width: 768px) {
  .l_copy__img {
    width: 40%; } }
/*project*/
.p-mv {
  background-image: url("../images/mv_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px; }

@media screen and (max-width: 1024px) {
  .p-mv {
    background-position: center right;
    height: 600px; } }
.p-mv_txtList {
  padding: 2.5em 5%;
  background: rgba(255, 255, 255, 0.5);
  width: 56.83%; }

@media screen and (max-width: 768px) {
  .p-mv {
    background-position: center right;
    height: 500px; }

  .p-mv_txtList {
    margin: 0 auto;
    padding: 2.5em 5%;
    background: rgba(255, 255, 255, 0.5);
    width: 90%; } }
.p-mv_txtList_h2 {
  margin-bottom: 0.938em;
  padding-bottom: 0.938em;
  position: relative; }

.p-mv_txtList_h2::after {
  content: "";
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #f6a57a 0%, #f3708f 100%);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0; }

.p-introduction {
  position: relative;
  width: 56.39%; }

.p-introImg {
  width: 29.5%; }

.p-introImg img {
  margin: 0 auto; }

@media screen and (min-width: 1025px) {
  .p-introImgSpaceLeftPc {
    margin-left: 3.7%; } }
@media screen and (max-width: 768px) {
  .p-introduction {
    position: relative;
    width: 100%; }

  .p-introImg {
    margin: 0 auto 2em auto;
    width: 50%; }

  .p-introImg img {
    width: 100%; } }
.p-introduction_bt a {
  position: absolute;
  bottom: 0;
  left: 0; }

@media screen and (max-width: 1230px) {
  .p-introduction_bt a {
    margin-top: 1em;
    position: relative; } }
@media screen and (max-width: 768px) {
  .p-introduction_bt a {
    margin: 1em auto 0 auto;
    position: relative; } }
.p-photo_r {
  width: 37.5%;
  position: absolute;
  right: 0;
  top: 50px; }

.p-photo_l {
  width: 37.5%;
  position: absolute;
  left: 0;
  top: 50px; }

@media screen and (max-width: 768px) {
  .p-photo_r {
    margin: 0 auto;
    width: 100%;
    position: inherit;
    top: 0; }

  .p-photo_l {
    margin: 0 auto;
    width: 100%;
    position: inherit;
    top: 0; } }
.p-blog {
  background-image: url("../images/takakohosonaga.jpg");
  background-repeat: no-repeat;
  background-position: 95% bottom;
  background-size: 190px; }

@media screen and (max-width: 960px) {
  .p-blog {
    background-size: 150px; } }
@media screen and (max-width: 768px) {
  .p-blog {
    background-image: none; } }
.p-newsTit {
  width: 15vw;
  height: 15vw; }

@media screen and (max-width: 1024px) {
  .p-newsTit {
    width: 100%;
    height: auto;
    box-shadow: none;
    background: none; } }
.p-contactBt {
  margin: 0 auto;
  width: 83%; }

@media screen and (max-width: 768px) {
  .p-contactBt {
    width: 100%; } }
.p-contactBt_tel, .p-contactBt_mail {
  width: 48.22%; }

@media screen and (max-width: 768px) {
  .p-contactBt_tel {
    width: 80%; } }
.p-contactBt_tel {
  box-sizing: border-box;
  padding-top: 0.615em;
  border: 2px solid #fd955d;
  border-radius: 50px;
  line-height: 1;
  height: 3.308em; }

.p-contactBt_mail a {
  box-sizing: border-box;
  padding-top: 0.615em;
  padding-left: 10%;
  border: 2px solid #ff819e;
  display: block;
  width: 100%;
  border-radius: 50px;
  height: 3.308em;
  position: relative; }

.p-contactBt_mail a:hover {
  background: #ffbaca; }

.p-contactBt_mail a::before {
  content: "";
  background: url("../images/email_pink.png") no-repeat center center;
  background-size: 100%;
  width: 29px;
  height: 23px;
  position: absolute;
  top: 34%;
  left: 10%; }

@media screen and (max-width: 1120px) {
  .p-contactBt_mail a::before {
    width: 14px;
    height: 11px;
    position: absolute;
    top: 38%;
    left: 10%; } }
/* Botton ****************************************************/
.p-btn__link a {
  display: block;
  margin: 0 auto;
  padding: 1.25em 0;
  width: 15.25em;
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  position: relative;
  z-index: 2;
  overflow: hidden; }

.p-btn__link a::before,
.p-btn__link a::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: ''; }

.p-btn__link a,
.p-btn__link a::before,
.p-btn__link a::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s; }

.p-btn__link a:hover {
  color: #fff; }

.p-btn__link a::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.p-btn__link a:hover::after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #7e0f17; }

@media screen and (max-width: 768px) {
  .p-btn__link a {
    padding: 1em 0;
    width: 10em;
    font-size: 1em; } }
@media screen and (max-width: 768px) {
  .u-contentsw_90S {
    margin: 0 auto;
    width: 90% !important; } }
